body {
  background-color: black;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}
a {
  font-size: 16px;
  color: Aquamarine;
  display: block;
  text-align: center;
  }
.video {
  margin: 0 auto; width: 400px;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: White;
  text-align: center;
}
p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
  text-align: center;
}
.photo {
  display: block;
  text-align: center;
}
.phone {
  display: block;
  text-align: center;
}
